.app {
  .video-card {
    width: 367px;
    display: flex;
    flex-direction: column;

    &__img-wrapper {
      position: relative;
      width: 367px;
      height: 213px;
      cursor: pointer;

      .video-card__img {
        width: 367px;
        height: 213px;
        border-radius: 14px;

        @media (max-width: 1400px) {
          width: 288px;
          height: 150px;
        }
      }

      @media (max-width: 1400px) {
        width: 288px;
        height: 150px;
      }
    }

    &__video-headline {
      margin: 15px 0 9px;
      @include h3;
      font-size: 26px;
      line-height: 33px;
      color: $color-dark-blue;
      font-weight: bold;
      cursor: pointer;
      width: fit-content;

      @media (max-width: 1400px) {
        margin: 8px 0 4px;
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__additional-info-wrapper {
      display: flex;
      justify-content: space-between;

      .video-card__text-views {
        @include h3;
        font-size: 18px;
        line-height: 23px;
        color: $color-gray;

        @media (max-width: 1400px) {
          font-size: 13px;
          line-height: 16px;
        }
      }

      .video-card__text-author {
        @include h3;
        font-size: 18px;
        line-height: 23px;
        color: $color-gray;

        @media (max-width: 1400px) {
          font-size: 13px;
          line-height: 16px;
        }
      }
    }

    @media (max-width: 1400px) {
      width: 288px;
    }
  }
}
