@use '../../style/vars' as *;
@use '../../style/typography' as *;

.app {
  .video-card {
    width: 367px;
    display: flex;
    flex-direction: column;

    &__img-wrapper {
      position: relative;
      width: 367px;
      height: 213px;
      cursor: pointer;

      .video-card__img {
        width: 367px;
        height: 213px;
        border-radius: 14px;

        @media (max-width: 1400px) {
          width: 288px;
          height: 150px;
        }
      }

      @media (max-width: 1400px) {
        width: 288px;
        height: 150px;
      }
    }

    &__video-headline {
      margin: 15px 0 9px;
      @include text-xxl;
      color: var(--color-primary-dark);
      font-weight: bold;
      cursor: pointer;
      width: fit-content;

      @media (max-width: 1400px) {
        margin: 8px 0 4px;
        @include text-m;
      }
    }

    &__additional-info-wrapper {
      display: flex;
      justify-content: space-between;

      .video-card__text-views {
        @include text-xl;
        color: var(--color-secondary);

        @media (max-width: 1400px) {
          @include text-xs;
        }
      }

      .video-card__text-author {
        @include text-xl;
        color: var(--color-secondary);

        @media (max-width: 1400px) {
          @include text-xs;
        }
      }
    }

    @media (max-width: 1400px) {
      width: 288px;
    }
  }
}
