@use '../../style/vars' as *;
@use '../../style/mixins' as *;

.app {
  .video-card {
    width: 367px;
    display: flex;
    flex-direction: column;

    &__img-wrapper {
      position: relative;
      width: 367px;
      height: 213px;
      cursor: pointer;

      .video-card__img {
        width: 367px;
        height: 213px;
        border-radius: 14px;

        @media (max-width: 1400px) {
          width: 288px;
          height: 150px;
        }
      }

      @media (max-width: 1400px) {
        width: 288px;
        height: 150px;
      }
    }

    &__video-headline {
      margin: 15px 0 9px;
      @include h3;
      font-size: 1.625rem;
      line-height: 2.0625rem;
      color: var(--primary-dark);
      font-weight: bold;
      cursor: pointer;
      width: fit-content;

      @media (max-width: 1400px) {
        margin: 8px 0 4px;
        font-size: 1rem;
        line-height: 1.25rem;
      }
    }

    &__additional-info-wrapper {
      display: flex;
      justify-content: space-between;

      .video-card__text-views {
        @include h3;
        font-size: 1.125rem;
        line-height: 1.4375rem;
        color: var(--secondary);

        @media (max-width: 1400px) {
          font-size: 0.8125rem;
          line-height: 1rem;
        }
      }

      .video-card__text-author {
        @include h3;
        font-size: 1.125rem;
        line-height: 1.4375rem;
        color: var(--secondary);

        @media (max-width: 1400px) {
          font-size: 0.8125rem;
          line-height: 1rem;
        }
      }
    }

    @media (max-width: 1400px) {
      width: 288px;
    }
  }
}
