.app {
  .video-description {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    margin-bottom: 48px;

    .video-description__left {
      display: flex;
      gap: 12px;
      max-width: 912px;

      .video-description__channel-icon {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        cursor: pointer;

        @media (max-width: 960px) {
          width: 50px;
          height: 50px;
        }
      }

      .video-description__text {
        display: flex;
        flex-direction: column;

        .video-description__text-title {
          font-family: "Mulish";
          font-size: 26px;
          line-height: 33px;
          color: #19202c;
          margin-bottom: 4px;
          cursor: pointer;
          font-weight: bold;
          width: fit-content;

          @media (max-width: 960px) {
            margin-top: 6px;
            font-size: 16px;
            line-height: 20px;
          }
        }

        .video-description__text-sub-number {
          font-family: "Mulish";
          font-size: 12px;
          line-height: 15px;
          color: #c2c2c2;
          display: none;

          @media (max-width: 960px) {
            display: block;
          }
        }

        .video-description__text-date {
          font-family: "Mulish";
          font-size: 13px;
          line-height: 16px;
          color: #c2c2c2;
          margin-bottom: 14px;

          @media (max-width: 960px) {
            display: none;
          }
        }

        .video-description__text-content {
          font-family: "Mulish";
          font-size: 16px;
          line-height: 22px;
          color: #000000;
          mix-blend-mode: normal;
          opacity: 0.6;
          margin-bottom: 15px;

          @media (max-width: 960px) {
            display: none;
          }
        }

        .video-description__text-show-more {
          font-family: "Mulish";
          font-size: 20px;
          line-height: 25px;
          color: #c2c2c2;
          cursor: pointer;
          width: fit-content;

          @media (max-width: 960px) {
            display: none;
          }
        }
      }

      @media (max-width: 960px) {
        gap: 10px;
        max-width: none;
      }
    }

    .video-description__subscribe-btn {
      width: 154px;
      height: 40px;
      font-family: "Mulish";
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      padding: 10px 20px;
      border-radius: 20px;
      background-color: #ff0000;
      border: none;
      cursor: pointer;
      white-space: nowrap;
      margin-left: 10px;

      @media (max-width: 960px) {
        display: none;
      }
    }

    .video-description__subscribe-span {
      font-family: "Mulish";
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #ff0000;
      display: none;

      @media (max-width: 960px) {
        display: block;
      }
    }

    @media (max-width: 960px) {
      margin: 20px 20px 20px 16px;
      align-items: center;
    }
  }
}
