.app {
  .video-description {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    margin-bottom: 48px;

    .video-description__left {
      display: flex;
      gap: 12px;
      max-width: 912px;

      .video-description__channel-icon {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        cursor: pointer;

        @media (max-width: 960px) {
          width: 50px;
          height: 50px;
        }
      }

      .video-description__text {
        display: flex;
        flex-direction: column;

        .video-description__text-title {
          @include default-text('Mulish', 26px, 33px, $color-dark-blue);
          margin-bottom: 4px;
          cursor: pointer;
          font-weight: bold;
          width: fit-content;

          @media (max-width: 960px) {
            margin-top: 6px;
            font-size: 16px;
            line-height: 20px;
          }
        }

        .video-description__text-sub-number {
          @include default-text('Mulish', 12px, 15px, $color-gray);
          display: none;

          @media (max-width: 960px) {
            display: block;
          }
        }

        .video-description__text-date {
          @include default-text('Mulish', 13px, 16px, $color-gray);
          margin-bottom: 14px;

          @media (max-width: 960px) {
            display: none;
          }
        }

        .video-description__text-content {
          @include default-text('Mulish', 16px, 22px, $color-black);
          mix-blend-mode: normal;
          opacity: 0.6;
          margin-bottom: 15px;

          @media (max-width: 960px) {
            display: none;
          }
        }

        .video-description__text-show-more {
          @include default-text('Mulish', 20px, 25px, $color-gray);
          cursor: pointer;
          width: fit-content;

          @media (max-width: 960px) {
            display: none;
          }
        }
      }

      @media (max-width: 960px) {
        gap: 10px;
        max-width: none;
      }
    }

    .video-description__subscribe-btn {
      width: 154px;
      height: 40px;
      @include default-text('Mulish', 16px, 20px, $color-white);
      padding: 10px 20px;
      border-radius: 20px;
      background-color: $color-red;
      border: none;
      cursor: pointer;
      white-space: nowrap;
      margin-left: 10px;

      @media (max-width: 960px) {
        display: none;
      }
    }

    .video-description__subscribe-span {
      @include default-text('Mulish', 16px, 20px, $color-red);
      text-align: center;
      display: none;

      @media (max-width: 960px) {
        display: block;
      }
    }

    @media (max-width: 960px) {
      margin: 20px 20px 20px 16px;
      align-items: center;
    }
  }
}
