// Main colors
$color-black: #000000;
$color-white: #ffffff;
$color-dark-gray: #30384c;
$color-gray: #c2c2c2;
$color-light-gray: #ebebeb;
$color-dark-blue: #19202c;
$color-blue: #192646;
$color-red: #ff0000;