.app .video-frame {
  margin-bottom: 15px;
}
.app .video-frame .video-frame__preview {
  width: 100%;
  cursor: pointer;
}
.app .video-frame .video-frame__preview-mob {
  width: 100%;
  display: none;
}
@media (max-width: 960px) {
  .app .video-frame .video-frame__preview-mob {
    display: block;
  }
}
@media (max-width: 960px) {
  .app .video-frame .video-frame__preview {
    display: none;
  }
}
.app .video-frame .video-frame__title-wrapper {
  margin: 20px 0 4px 0;
  display: flex;
  justify-content: space-between;
}
.app .video-frame .video-frame__title-wrapper .video-frame__title {
  font-family: "Mulish";
  font-size: 36px;
  line-height: 45px;
  font-weight: bold;
  color: #192646;
}
@media (max-width: 960px) {
  .app .video-frame .video-frame__title-wrapper .video-frame__title {
    width: 210px;
    font-size: 20px;
    line-height: 25px;
  }
}
.app .video-frame .video-frame__title-wrapper .video-frame__button-more {
  width: 10px;
  height: 7px;
  display: none;
  margin-top: 13px;
}
@media (max-width: 960px) {
  .app .video-frame .video-frame__title-wrapper .video-frame__button-more {
    display: block;
  }
}
@media (max-width: 960px) {
  .app .video-frame .video-frame__title-wrapper {
    margin: 13px 20px 4px 16px;
  }
}
.app .video-frame .video-frame__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app .video-frame .video-frame__subtitle-left .video-frame__views {
  font-family: "Mulish";
  font-size: 20px;
  line-height: 25px;
  color: #c2c2c2;
}
@media (max-width: 960px) {
  .app .video-frame .video-frame__subtitle-left .video-frame__views {
    font-size: 12px;
    line-height: 15px;
    margin-left: 16px;
  }
}
.app .video-frame .video-frame__subtitle-right .video-frame__button {
  padding: 10px 20px;
  background-color: rgba(240, 240, 240, 0.3);
  mix-blend-mode: normal;
  border-radius: 20px;
}
.app .video-frame .video-frame__subtitle-right .video-frame__button:nth-child(2) {
  margin: 0 10px;
}
.app .video-frame .video-frame__subtitle-right .video-frame__button-logo {
  margin-right: 8px;
  width: 14px;
  height: 13px;
}
.app .video-frame .video-frame__subtitle-right .video-frame__button-span {
  font-family: "Mulish";
  font-size: 16px;
  line-height: 20px;
  color: #192646;
}
@media (max-width: 960px) {
  .app .video-frame .video-frame__subtitle-right .video-frame__button-span {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 960px) {
  .app .video-frame .video-frame__subtitle-right .video-frame__button {
    padding: 5px 10px;
  }
}
.app .video-frame .video-frame__subtitle-right .video-frame__extra-button {
  margin-left: 40px;
  width: 28px;
  height: 6px;
}
@media (max-width: 960px) {
  .app .video-frame .video-frame__subtitle-right .video-frame__extra-button {
    display: none;
  }
}
@media (max-width: 960px) {
  .app .video-frame .video-frame__subtitle-right {
    margin-left: 16px;
  }
}
@media (max-width: 960px) {
  .app .video-frame .video-frame__subtitle {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
}/*# sourceMappingURL=videoFrame.css.map */