@mixin h1 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.8125rem; // 45px
}

@mixin h2 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5625rem; // 25px
}

@mixin h3 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem; // 20px
}