.app {
  .next-videos {
    width: 367px;
    margin-bottom: 48px;

    .next-videos__head {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 26px;

      .next-videos__head-title {
        @include h1;
        color: $primary-dark;
        font-weight: bold;
        margin-bottom: 1px;

        @media (max-width: 1400px) {
          font-size: 1.25rem;
          line-height: 1.5625rem;
          margin-bottom: 0px;
        }
      }

      .next-videos__head-right {
        display: flex;
        align-items: center;
        gap: 11px;
        cursor: pointer;

        .next-videos__head-span {
          @include h3;
          color: $primary-dark;
          font-weight: bold;
          letter-spacing: 1px;
          text-transform: uppercase;

          @media (max-width: 1400px) {
            font-size: 0.625rem;
            line-height: 0.8125rem;
            letter-spacing: 0.625px;
          }
        }
        .next-videos__head-slider {
          position: relative;
          width: 44px;
          height: 28px;
          background: rgba(235, 235, 235, 0.3);
          mix-blend-mode: normal;
          border-radius: 14px;

          @media (max-width: 1400px) {
            width: 30px;
            height: 19px;
            border-radius: 10px;
          }
        }
        .next-videos__head-slider-inside {
          width: 24px;
          height: 24px;
          border-radius: 100%;
          box-sizing: border-box;
          position: absolute;
          top: 2px;
          right: 2px;
          background: #2196f3;
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.237602);

          @media (max-width: 1400px) {
            top: 1px;
            right: 1px;
            width: 16px;
            height: 16px;
          }
        }

        @media (max-width: 1400px) {
          gap: 10px;
        }
      }

      @media (max-width: 1400px) {
        margin-bottom: 13px;
      }
    }

    .next-videos__body {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    @media (max-width: 1400px) {
      width: 288px;
    }

    @media (max-width: 960px) {
      margin: 0 16px 20px;
    }

    @media (max-width: 480px) {
      margin: 0 0 20px 0;
    }
  }
}
