:root {
  --color-primary-dark: #19202c;
  --color-primary: #192646;

  --color-secondary-dark: #30384c;
  --color-secondary: #c2c2c2;
  --color-secondary-light: #ebebeb;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff0000;
}
